@import "tailwindcss";

@font-face {
    font-family: "radstacio-regular";
    src: url(/public/Fonts/radstacio-regular.ttf);
}

@font-face {
    font-family: "Chadle";
    src: url(/public/Fonts/Chadle.otf);
}

@font-face {
    font-family: "Negula-Demo-Regular";
    src: url(/public/Fonts/Negula-Demo-Regular.otf);
}

@font-face {
    font-family: "Modak-Regular";
    src: url(/public/Fonts/Modak-Regular.ttf);
}

@font-face {
    font-family: "Oktabroom";
    src: url(/public/Fonts/Oktabroom.otf);
}


body {
  --sb-track-color: #232e33;
  --sb-thumb-color: #ffb875;
  --sb-size: 14px;
}

body::-webkit-scrollbar {
  width: var(--sb-size)
}

body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 3px;
}

body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 3px;
  
}


body {
  --sb-track-color: #232e33;
  --sb-thumb-color: #f91814;
  --sb-size: 5px;
}

body::-webkit-scrollbar {
  width: var(--sb-size)
}

body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 8px;
}

body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 8px;
  
}

@supports not selector(::-webkit-scrollbar) {
  body {
    scrollbar-color: var(--sb-thumb-color)
                     var(--sb-track-color);
  }
}

body{
  overflow-x: hidden;
}